@model IEnumerable<TeznoProject.Models.New>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bgColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photoUrl)
            </td>
            <td>
               <div style = "background-color: @item.bgColor; width: 40px; height: 40px; border-radius: 100px;" ></div>





            </td>
            <td class="d-flex align-items-center">
                <a class = "btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> &nbsp;
                <a class = "btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a> &nbsp;
                <a class = "btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
